<!DOCTYPE html>
<html>
<head>
	<title>Gaming laptops from Flipkart</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
	<h1>Gaming Laptops from flipkart</h1>

		<table>
  <thead>
    <tr>
      <th>Image</th>
      <th>Name</th>
      <th>Desc</th>
      <th>Price</th>
    </tr>
  </thead>
  <tbody>
  {% for pdetails in Pdetails %}
    <tr>
        <td><img src="{{pdetails['src']}}"></td>
        <td><a href="https://www.flipkart.com{{ pdetails['url'] }}">{{ pdetails['name']}}</a></td>
      <td>{{ pdetails['desc']}}</td>
      <td>{{ pdetails['price']}}</td>
    </tr>
  	{% endfor %}
  </tbody>
</table>



</body>
</html>
